*.css linguist-language=CSS
*.html linguist-language=HTML
*.js linguist-language=JavaScript
*.py linguist-language=Python
*.md linguist-language=Markdown
*.yml linguist-language=YAML
*.yaml linguist-language=YAML
*.json linguist-language=JSON
*.sh linguist-language=Shell
