{% extends 'admin/change_list.html' %}
{% load i18n %}

{% block object-tools %}
    <div style="margin-bottom: 20px;">
        <a href="{% url 'admin:fetch-top-anime' %}" class="button" style="background-color: #417690; color: white; padding: 8px 12px; margin-right: 10px;">
            {% trans 'Отримати топ аніме' %}
        </a>
        <a href="{% url 'admin:fetch-seasonal-anime' %}" class="button" style="background-color: #79aec8; color: white; padding: 8px 12px; margin-right: 10px;">
            {% trans 'Отримати сезонне аніме' %}
        </a>
        <a href="{% url 'admin:fetch-popular-anilist' %}" class="button" style="background-color: #89a; color: white; padding: 8px 12px;">
            {% trans 'Отримати аніме з Anilist' %}
        </a>
    </div>
    {{ block.super }}
{% endblock %}
